<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE resources.suite SYSTEM "http://testng.org/testng-1.0.dtd"><resources.suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/ganesh.jadhav/OneDrive - Emtec Inc/Ganesh_Automation/Study/AutomationLearningLab/SeleniumProject/src/test/java/resources.suite"><classes/></test></resources.suite>